@import '../../../styles/variables.scss';

.item {
  margin: 1rem;
  padding: .5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: #fff;

  &:hover {
    box-shadow: $boxShadow;
  }
}