@import '../../../styles/variables.scss';

.item {
  margin: 1rem;
  padding: .5rem;
  box-shadow: $boxShadow;
  transition: 0.3s;
  background: #fff;

  &:hover {
    box-shadow: $boxShadowHover;
  }
}