@import '../../../styles/variables.scss';

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: -2.8rem;

  &backtext {
    color: $primary;
    display: none;

    @media (min-width: 800px) {
      display: block;
    }
  }

  &backicon {
    background-color: $primary;
    color: #fff;
    font-size: 6rem;
    padding: .6rem;
    top: -2.4rem;
    position: relative;

    @media (min-width: 800px) {
      font-size: 3rem;
      background-color: transparent;
      color: $primary;
      top: -.2rem;
    }
  }
}