@import '../../../styles/variables.scss';

.buttons {
  width: 100%;
  text-align: center;
  padding: .5rem 0;
  cursor: pointer;

  &:first-child {
    border-right: 1px solid $grey2;
  }

  &wrapper {
    display: flex;
    width: 103%;
    justify-content: space-evenly;
    border-top: 1px solid $grey2;
    margin: 1rem -0.5rem -0.5rem -0.5rem;
    color: $primary;
  }
}