@import '../../../styles/variables.scss';

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  padding: .5rem;
  background: #fff;
  box-shadow: $boxShadow;
  margin: 1rem 0;

  @media (min-width: 800px) {
    margin: 0;
  }

}