@import '../../../styles/variables.scss';

.button {
  padding: .5rem 1rem;
  border-radius: 2rem;
  background: none;
  border: 2px solid $primary;
  color: $primary;
  cursor: pointer;
  text-transform: uppercase;
  margin: 2rem auto;

  &:hover {
    transform: scale(1.02);
    transition: .1s ease-out;
  }
}